
.section1 {
    
    flex-wrap: wrap;
    background-color: #1f2937;
    justify-content: space-between;
    

}
header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 15px;
    

}
.header-logo {
    padding-left: 100px;
    font-weight: 700;
    font-size: 24PX;
    color: #f9faf8;
    flex-wrap: wrap;
}
.header-links {
    
    flex-wrap: wrap;
    margin-left:auto;
    
    
    
    
}
.header-links a {
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    color: #E5E7EB;
    padding: 15px;
    margin: 10px;

}

.header-links :hover{
    background-color: #f9faf8;
    color: black;
}

    
}

.section1-text {
    padding-left: 50px;
    flex-wrap: wrap;


}
.section1-text1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 700;
    width: 500px;
    height: 50px;
    padding-left: 100px;
    padding-top: 70px;
    flex-wrap: wrap;
  
}
.section1-text2 {
    color: #E5E7EB;
    font-size: 18px;
    width: 500px;
    height: 10px;
    padding-left: 100px;
    padding-top: 50px;
    flex-wrap: wrap;
  
}
.section1-image {
    justify-content: right;
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 70px;
    flex-wrap: wrap;
}

.mid-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
} 

.section1-button {
    margin-top: 40px;
    margin-left: 100px;
    
    
}
button {
    background-color: #3882F6;
    border-radius: 20px;
    font-size: 20px;
    color: #f9faf8;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
   

}
button:hover{
    background-color: #f9faf8;
    color: black;
}
.section2 {
   
    flex-direction: row;
    background-color:white;
    padding-bottom: 100px;
    flex-wrap: wrap;
}
.section2-text1 {
    align-items: center;
    font:  #1f2937;
    font-weight: 700;
    font-size: 36px;
    
}
.s2h3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 40px;
   
    
}
.b1container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin-top: 70px;
    
    background-color: #1f2937;
    border: 3px solid #1f2937;
    border-radius:  25px;
    transition: 0.5s;
    
    
    

}
/*.b1container :hover {
    width: 250px;
    h*/
.s2boxing {
    width: 200px;
    height: 200px;
    border: 3px;
    border-radius: 25px;
    flex-wrap: wrap;
    
   
   
}
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section3{
    display: flex;
    flex-wrap: wrap;
    
   justify-content: center;
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section4{
    display: flex;
    flex-direction: row;
}

.section4-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   

}
.section3-text1 {
    font-family: italic #1f2937;
    font-size: 36px;
    width: 850px;
    height: 40px;
    text-align: start;
    flex-wrap: wrap;

}
.section3-text2 {
    font-size: 26px;
    margin: 60px;
    flex-wrap: wrap;
    padding-left: 170px;
    float: right;
   
    


}
.section4-box{
    background-color: white;
    display: flex;
    padding: 50px 70px;
    justify-content: center; 
    flex-wrap: wrap;

    
}
.section4 {
    display: flex;
    flex-direction: row;
   border-radius: 15px;
   align-items: center;
   flex-wrap: wrap;
    background-color: #3882F6;
}
.section4-text{
    display: flex;
    justify-content: center;

    


}
.section4-text1 {
    color: #f9faf8;
    margin: 50px;
    padding: left 50px;
    margin-left: 50px;
    background-color: #3882F6;
    padding: 10px;
    font-size: 26px;
    border-radius: 5px;
    border: solid #f9faf8;

}
.section4-text2 {
    color: #E5E7EB;
    margin-top: 70px;
    margin-right: 200px;
    flex-wrap: wrap;
}
.section4-button {
    margin-right: 40px;
}

footer {
    display: flex;
    color: #f9faf8;
    justify-content: center;
    padding: 50px 0px;
    
}
